
@model IEnumerable<web.Models.Reservation>
@{
    ViewData["Title"] = "Index";
}

<h1>History of reservations</h1>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration) in hours
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.TableID)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReservationID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
