@model IEnumerable<web.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration) in hours
            </th>
           <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th> 
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
           <!-- <td>
                @Html.DisplayFor(modelItem => item.Table.TableID)
            </td> -->
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
