@model IEnumerable<web.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurants</h1>
<br>
<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Restaurant Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />   |
            <a asp-action="Index"> Back to Full List</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
               <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.NameOfRestaurant)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LocationSortParm"]">@Html.DisplayNameFor(model => model.Location)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TableCapacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                   <a asp-action="Index" asp-route-sortOrder="@ViewData["OpenSortParm"]">OPEN</a>
                </th>
                <th>
                   <a asp-action="Index" asp-route-sortOrder="@ViewData["OpenSortParm"]">@Html.DisplayNameFor(model => model.Close)</a>
                </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfRestaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Close)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RestaurantID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestaurantID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br>
<button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Restaurants")';return false;">Add restaurants</button>
